/.env
/dbdata
/logs
/webroot/microapi
/webroot/backoffice/node_modules
/webroot/backoffice/public/hot
/webroot/backoffice/public/storage
/webroot/backoffice/storage/*.key
/webroot/backoffice/vendor
/webroot/backoffice/.idea
/webroot/backoffice/.vscode
/webroot/backoffice/.vagrant
/webroot/backoffice/Homestead.json
/webroot/backoffice/Homestead.yaml
/webroot/backoffice/npm-debug.log
/webroot/backoffice/yarn-error.log
/webroot/backoffice/.env
/webroot/backoffice/.phpunit.result.cache